antlr4-python3-runtime==4.9.1
lark-parser==0.11.2
pipdeptree==2.0.0
pybind11==2.6.2
pycosat==0.6.3
pycryptosat==0.6.1
pydepqbf==0.0.2
pyglucose==0.0.1
pylgl==0.0.3
python-sat==0.1.6.dev12
satispy==1.0
satyrn==0.3.18
SimpleParse==2.2.2
six==1.15.0
umo==0.0.2
